@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.colored {
    background-color: white;
    color: #f4f7f5;
}

.hero .container{
    position: relative;
    text-align: center;
    width: 100%;
    height:auto;
    
  }
  .hero img {
    width: 100%;
    height:auto;
  }
  

  .small{
    display: none;
    position: absolute;
    top: 60%;
    left: 50%;
    color:red ;
    font-size: 40px;
    transform: translate(-50%, -50%);
  }

  .medium{
    display: none;
    position: absolute;
    top: 80%;
    left: 50%;
    color:red ;
    font-size: 40px;
    transform: translate(-50%, -50%);
  }
  .large {
    background: none;
    position: absolute;
    top: 80%;
    left: 50%;
    color:red ;
    font-size: 40px;
    transform: translate(-50%, -50%);
  }
* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
    font-family: 'Lato', sans-serif;
}
body {
	font-size: 16px;
}

h1, h2, h3, h4 {
    font-family: 'Abril Fatface', serif;
}

header {
	background-color: lightcoral;
	display: grid;
    grid-template-columns: 5fr 1fr 1fr;
	align-items: center;
	justify-content: center;
	padding: 10px;
	color: #f4f7f5;

}

header div {
    display: flex;
    flex-flow: row;
}

header div #datetime{
    background-color: lightgray;
    color: black;
    margin: 10px;
    padding: 10px;
    width: 100%; 
}

.date-header {
    grid-column: 1/4;
}

.menu {
    grid-column: 1/4;
}

.logo {
    width: 4rem;
}

footer {
	background-color: lightcoral;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
    padding: 10px;
    font-size: 15px;
    color: white;
}

header,
nav,
main,
footer {
	max-width: 960px;
	margin: 0 auto;
}


h1 {
	font-size: 2rem;
}
h2 {
	padding: .5rem;
	color: black;
}


p {
	padding: .5rem;
}
h1, p {
    margin: 0 2vw;
}

header div button, a {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #f4f7f5;
}

a {
    text-decoration: none;
}

header div a {
    margin: 1.5rem;
}

header .social a {
    margin: 0;
}

header div nav {
    background-color: lightcoral;
}

header div nav ul {
    list-style-type: none;
    flex: auto;
    padding: 0;
    margin: 0;
}

header div nav ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header div nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #f4f7f5;
    border-top: 1px solid rgb(46, 120, 139); ;
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
}

header div nav ul li.active a {
    background-color: #7e7f9a;
    color:#fff;
}

header div nav ul li a:hover {
    background-color: tomato;
}

header div nav ul {
    display: none;
}

header div nav ul.open {
    display: block;
}



#hamburguerBtn span:nth-child(1) {display: block}
#hamburguerBtn span:nth-child(2) {display: none}

#hamburguerBtn.open span:nth-child(1) {display: none}
#hamburguerBtn.open span:nth-child(2) {display: block}




main {
	justify-content: center;
	font-size: 0.85rem;
    padding: 0.5rem;
}

header div {
    width: 100%;
}

header div nav {
    width: 100%;
}

footer {
	display: flex;
	padding: 1rem;
	justify-content:space-evenly;
    font-weight: 700;
    margin-top: 1rem;
}

.title-footer h2 {
    color: white;
}

main h1, h2, h3, h4, p, li {
    padding: 10px;
} 

li {
    margin-left: 40px;
}


aside {
    background-color: lightgray;
    padding: 10px;
}

main div {
    background-color: rgb(216, 162, 162);
    margin-bottom: 10px;
    padding: 5px;
}

.join {
    display: none;
}

.spotlight3 {
    display: none;
}

footer p {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.date-header {
    text-align: center;
}

.hide-small {
    display: none;
}

span {
    display: inline-block;
}

.hero {
    position: relative;
    margin: 0;
}

.banner {
    position: relative;
    margin: 0;
    width: 100%;
    min-height: 100%;
}

.call-to-action {
    position: absolute;
    bottom: 8px;
    right: 0px;
    padding: 12px;
    min-width: 100px;;
    width: 50%;
    background-color: dodgerblue;
    box-shadow: 0 10px 30px #121335;
    border: none;
}

.call-to-action:hover {
    background-color: tomato;
}


.text-join {
    padding: 15px;
    text-align: center;
}


.banner-message {
    width: 100%;
    background-color: #ff7d00;
    color: #DEE5E5;
    padding: 8px;
    max-width: 960px;
    margin: 0 auto;
}

#temperature {
    text-align: right;
    font-size: 20px;
    right: 15px;
}

.contact a {
    font-size: 20px;
}
    
.weather-div {
        display: inline;
    }
    
    
.weather p {
        position: relative;
        padding-left: 0;
        margin-left: 0;
        padding-bottom: 0.5px;
    }
    
.weather-div picture img {
        width: 90px;
        position: absolute;
        border-radius: 50px;
    }
    

    


