
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    font-size: 16px;
}

h1{
    font-family: 'Lato';
    text-align: center;
    
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
section {
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: #c95d5d;
    border: 1px solid #faf4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    
  }
  h2 {
    color: rgb(240, 240, 242);
    margin: 0 0 1rem 0;
    border-bottom: 1px solid #bba5a5;
  }
  p {
    font-family: 'Yusei Magic';
    color: #d8d2d2;
  }
  
  .cards img{
    padding: 10px;
    width: auto;
    max-width: 315px;

  }